<div class="dashboard">
    <div class="card text-center">
        <div class="card-header">
            Last insertion time: {{ time }}
        </div>
    </div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>OS</th>
                <th>Browser</th>
                <th>Version</th>
                <th># of records</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let stat of stats">
                <td>{{stat.osType}}</td>
                <td>{{stat.browserType}}</td>
                <td>{{stat.browserVersion}}</td>
                <td>{{stat.number_of_records}}</td>
            </tr>
        </tbody>
    </table>
</div>