<header class="container-fluid">
  <nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
    <span class="navbar-brand">{{ title }}</span>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/dashboard">Dashboard</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
<main class="container-fluid">
  <router-outlet></router-outlet>
</main>
<footer class="container-fluid">
  <p class="text-xs-center">© Copyright 2019. All rights reserved.</p>
</footer>